h2 articles
a(href="/new") post new article

h3 recently articles
- docs.forEach(function(doc){
	div.article
		h4
			a(href="/#{doc.url}") #{doc.title}
		dl
			dt reg date
			dd #{doc.reg_date}
			dt last update
			dd #{doc.update_date}
			dt tags
			dd
				ul
					- doc.tags.forEach(function(tag){
						li #{tag}
					- });
		!{doc.contents.replace(/<.*>/g,'').substring(0,500)+'...'}
-});

