!!!
html
	head
		title #{title}
		link(rel="stylesheet", type="text/css", href="http://yui.yahooapis.com/3.4.1/build/cssbase/cssbase-min.css")
		link(rel="stylesheet", type="text/css", href="http://yui.yahooapis.com/3.4.1/build/cssgrids/grids-min.css")
		link(rel="stylesheet", type="text/css", href="/css/common.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Stardos+Stencil:400,700")
		script(type="text/javascript",src="/js/syntaxhighlighter/shCore.js")
		script(type="text/javascript",src="/js/syntaxhighlighter/shBrushJScript.js")
		script(type="text/javascript",src="/js/syntaxhighlighter/shBrushCpp.js")
		script(type="text/javascript",src="/js/syntaxhighlighter/shBrushBash.js")
		script(type="text/javascript",src="/js/syntaxhighlighter/shBrushCss.js")
		script(type="text/javascript",src="/js/syntaxhighlighter/shBrushDiff.js")
		script(type="text/javascript",src="/js/syntaxhighlighter/shBrushJava.js")
		script(type="text/javascript",src="/js/syntaxhighlighter/shBrushPhp.js")
		script(type="text/javascript",src="/js/syntaxhighlighter/shBrushRuby.js")
		script(type="text/javascript",src="/js/syntaxhighlighter/shBrushSql.js")
		script(type="text/javascript",src="/js/syntaxhighlighter/shBrushXml.js")
		link(type="text/css",rel="stylesheet",href="/css/syntaxhighlighter/shCore.css")
		link(type="text/css",rel="stylesheet",href="/css/syntaxhighlighter/shThemeEmacs.css")
		script(type="text/javascript") SyntaxHighlighter.config.clipboardSwf = '/js/syntaxhighlighter/clipboard.swf'; SyntaxHighlighter.all();
	body
		div
			div.yui3-g
				div.yui3-u-1
					div.head
						h1
							a(href="/") #{config.blog.title}
			div.yui3-g
				div.yui3-u-3-4
					div.content
						!= body
				div.yui3-u-1-4
					div.side
						h2 profile
						p hello.
						script(src="http://widgets.twimg.com/j/2/widget.js")
						script
							new TWTR.Widget({
							version: 2,
							type: 'profile',
							rpp: 2,
							interval: 30000,
							width: 200,
							height: 300,
							theme: {
							shell: {
							background: 'rgb(220,200,150)',
							color: '#ff6600'
							},
							tweets: {
							background: '#rgb(220,200,150)',
							color: '#ff6600',
							links: '#0000dc'
							}
							},
							features: {
							scrollbar: false,
							loop: false,
							live: false,
							behavior: 'all'
							}
							}).render().setUser('#{config.sns.twitter}').start();
						h2 updates
						ul
							- updates.forEach(function(update){
								li 
									a(href="/#{update.url}") #{update.title}
							-});
						h2 tags
						ul
							- tags.forEach(function(tag){
								li
									a(href="/search?tag=#{tag._id}") #{tag._id}(#{tag.value})
							- });
						h2 admin
						-if(user){
							p hello #{user}
							ul
								li 
									a(href="/new") post new article
								-if(typeof(doc)!="undefined"){
									li
										a(href="/edit/#{doc.url}") edit /#{doc.url}
								-}
						-}else{
							a(href="/login/twitter") login with twitter
						-}
			div.yui3-g
				div.yui3-u-1
					div.foot
						small #{config.blog.foot}
