h2 #{doc.title}
div
	dl.info
		dt reg date
		dd #{doc.reg_date}
		dt last update
		dd #{doc.update_date}
		dt tags
		dd
			ul
				- doc.tags.forEach(function(tag){
					li 
						a(href="/search?tag=#{tag}") #{tag}
				- });
div.contents
	!{doc.contents}

h3(style="margin-top:100px;") Comments
div.comment
	a(href="https://twitter.com/share",class="twitter-share-button",data-count="horizontal", data-via="#{config.sns.twitter}",data-lang="ja") ツイート
	script(type="text/javascript",src="//platform.twitter.com/widgets.js")
	div(id="fb-root")
	script
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	div(class="fb-like",data-href="#{config.blog.base_url}/#{url}",data-send="true",data-width="450",data-show-faces="true",data-font="arial")
	div(class="fb-comments",data-href="#{config.blog.base_url}/#{url}",data-num-posts="4",data-width="500")

h3 Trackback
label(for="trackback_url") url : 
span(id="trackback_url") #{trackback}
-doc.trackbacks.forEach(function(t){
	h4
		a(href="#{t.url}") #{t.title}(#{t.blog_name})
	p(style="word-break: break-all;") #{t.excerpt}
-})
