h2 #{doc.title}
dl
	dt reg date
	dd #{doc.reg_date}
	dt last update
	dd #{doc.update_date}
	dt tags
	dd
	ul
		- doc.tags.forEach(function(tag){
			li #{tag}
		- });
div
	a(href="/edit/#{doc.url}") Edit
div
	!{doc.contents}
div(id="fb-root")
script
	function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) {return;}
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
div(class="fb-comments",data-href="nakaji.me",data-num-posts="4",data-width="500")
